<div class="login-container">
    <h2>🔑 Iniciar Sesión</h2>

    <form (submit)="login()">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" required name="email">

        <label for="password">Contraseña:</label>
        <input type="password" id="password" [(ngModel)]="password" required name="password">

        <button type="submit">Iniciar Sesión</button>
    </form>

    <p class="error" *ngIf="mensajeError">{{ mensajeError }}</p>
    <p class="success" *ngIf="mensajeExito">{{ mensajeExito }}</p>


</div>